{% extends "base.html" %} {% block title %}Create Invoice{% endblock %} {% block
content %}
<div class="invoice-container">
  <h1>Create a New Invoice</h1>
  <form method="POST" class="service-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label for="client">Select Client:</label>
    <select name="client" id="client">
      {% for client in clients %}
      <option value="{{ client.id }}">{{ client.name }}</option>
      {% endfor %}</select
    ><br />

    <label>Product and Services:</label>
    <div id="services" class="service-list">
      {% for service in services %}
      <div class="service-item">
        <div class="service-details">
          <input type="checkbox" name="service" value="{{ service.id }}" /> {{
          service.description }} (RM {{ service.cost }})<br />
        </div>
        <div class="quantity-input">
          <label>Quantity:</label>
          <input type="number" name="quantity" min="1" value="1" />
        </div>
        <div class="quantity-input">
          <label>Discount:</label>
          <input type="number" name="discount" min="0" max="100" value="0" />
        </div>
      </div>
      {% endfor %}
    </div>

    <button type="submit" class="btn">Create Invoice</button>
  </form>
  <a href="{{ url_for('index') }}" class="btn return-home">Return to Home</a>
</div>
{% endblock %}
